.test_class {
    background-color:#99cc00;
    padding:10px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
        column-gap: 1.25rem;
    }}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
        column-gap: 1.25rem;
    }}